.footer {
    background-color: #222;
    position: relative;
    height: 115px;
    z-index: 5;
    
    h1 {
        padding-top: 10px;
        color: white;
        font-size: 30px;

    }

    h3 {
        color: white;
    }

    p {
        color:white;
    }
}