// Imports
@import 'navbar.scss';
@import 'homepage.scss';

// Variables
:root {
    --main-theme-color: #FDAB00;
}

// Base styling
*, body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}
