
.navbar {
    background-color: #222;
}

.navbar-brand {
    padding-left: 75px
}

.navbar-nav {
    padding-right: 200px;
}

.nav-item {
    padding-left: 30px;
    padding-right: 30px;
    
}

.nav-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}


.bg-dark {
    transition: 500ms ease;
    background: transparent !important;
}

.bg-dark.scrolled {
    background: #222 !important;
}
